<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tian.provider.mapper.CheckItemMapper">
    <!--根据检查组id查询检查项信息-->
    <select id="findCheckItemById" resultType="com.tian.common.pojo.CheckItem">
      select * from t_check_item where id
        in (select checkitem_id from t_check_group_check_item where checkgroup_id=#{id})
    </select>
</mapper>
